@import "./mixins";
@import "./variable";

.live-broadcast{
    background-image: url("../images/broadcast.svg");
    background-repeat: no-repeat;
    min-height: 592px;
    min-width:$layout-min-width;
    
    @include mobile{
        background-image: none;
        height: auto;
    }
        .football-experience{
            float: right;
            width: 582px;
            margin-right: 61px;
            margin-top: 133px;
            margin-bottom: 117px;

            @include mobile{
                float: none;
                width: 100%;
                margin-top:54px;
                text-align: center;
                margin-right: auto;
                margin-bottom: auto;
            }

            .what-does{
                font-weight: bold;
                line-height: 21px;
                font-size: 16px;
                margin-bottom: 27px;
                color: #00ADEE;

                @include mobile{
                    text-align: center;    
                }
            }
                .an-enhance{
                    line-height: 37px;
                    font-size: 28px;
                    font-weight: bold;
                    color: #333333;
                    margin-bottom: 27px;

                    @include mobile{
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
                    .gurdian{
                        font-weight: normal;
                        line-height: 23px;
                        font-size: 16px;
                        color: #4F4F4F;

                        @include mobile{
                            text-align: center;
                            margin-top: 20px;
                            margin-bottom: 19px;
                        }
                    }
                        .learn{
                            font-weight: bold;
                            line-height: 21px;
                            margin-top: 19px;
                            font-size: 16px;
                            color: #00ADEE;

                            @include mobile{
                                margin-bottom: 22px;

                            }

                            a{
                                text-decoration: none;
                                color: #00ADEE;
                            }

                            a:hover{
                                text-decoration: underline;
                            }

                            
                        }
                            img{
                                display: none;

                                @include mobile{
                                     display: block;
                                }
                            }
        }
}