@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "./mixins";

body{
    font-family: 'Lato', sans-serif;

    br.desktop-only {
        display: block;

        @include mobile {
            display: none !important;
        }
    }

    br.mobile-only {
        display: none;

        @include mobile {
            display: block !important;
        }
    }
}

@import "./jumbotron";
@import "./live-broadcast";